.navBarContainer{
    padding-inline: 20px;
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .navBarItems{
        display: flex;
        flex-direction: row;
        color: gray;
        font-weight: 900;
        .items{
            margin-inline: 20px;
            cursor: pointer;
        }
    }
    .navIcons{
        display: flex;
        align-items: center;
    }
    .title{
        display: flex;
        align-items: center;
    }
}