.sliderDiv{
    margin-top: 100px;
    display: block;
    margin-inline: 100px;
    .sliderTitle{
        display: flex;
        color: #212121;
        font-size: 2.8em;
        position: relative;
    }
}
